*{
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #dddddd;
}

.App {
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

h1 {
  background-color: #cdd7d6;
  margin-top: 0;
  padding: 1rem;
}

button{
margin:.15rem;
background-color: #FAFBFC;
border: 1px solid rgba(27, 31, 35, 0.15);
border-radius: 6px;
cursor: pointer;
padding: .2rem .7rem;
}

.formButton{
margin:.25rem;
background-color: #FAFBFC;
border: 1px solid rgba(27, 31, 35, 0.15);
border-radius: 6px;
cursor: pointer;
padding: .2rem .7rem;
}

.posts {
  border: 1px solid black;
  margin: 1%;
  border-radius: 4%
}

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logout {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.form-text-input{
    width:300px;
    height:40px;
    border-radius:15px;
    border:2px solid black;
  }
